@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    background-color: white;
}

header {
    background-color: #35660fdf;
    text-indent: 2em;
    padding: 10px;
    margin-bottom: 100px;
    font-family: 'Libre Baskerville', serif;
    font-variant: small-caps;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.34);
}

main {
    height: 200vh;
}

p {
    font-family: 'Lato', sans-serif;
}

p#menor1 {

    color: white;
    max-height: fit-content;
    min-width: 400px;
    max-width: 650px;

    background-color: #56664aed;
    display: inline-block;
    font-size: 1em;
    padding: 10px;
    line-height: 1.5em;
    text-indent: 1em;
    text-align: justify;
    margin-top: 10vh;
}

article#parallax1 {
    width: auto;
    min-height: 500px;
    max-height: 600px;

    box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.338);

    background-image: url(../imagens/paisagem01.jpg);
    background-position: right bottom;
    background-size: cover;
    background-attachment: fixed;
}


div.externo {
    margin-top: 60vh;
    position: relative;
    height: fit-content;
}

div.externo > p {
    max-height: fit-content;
    width: 40vw;


    display: inline-block;

    line-height: 1.7em;
    text-align: justify;
    padding-left: 25px;
    padding-top: 50px;
}

article#parallax2 {
    display: inline-block;
    box-shadow: inset 0px 4px 10px black;

    min-height: 500px;
    max-height: 250px;
    width: 42vw;


    background-image: url(../imagens/background2.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    position: absolute;
    left: 50vw;
    
}

footer {
    background-color: #56664A;
    color: white;
    text-align: center;
    padding: 5px;
    margin-top: 50vw;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
}