@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    background-color: white;
}

header {
    background-color: #35660F;
    text-indent: 2em;
    padding: 10px;
    margin-bottom: 100px;
}

main {
    height: 200vh;
}


p#menor1 {

    color: white;
    max-height: fit-content;
    min-width: 400px;
    max-width: 650px;

    background-color: #56664aed;
    display: inline-block;
    font-size: 1em;
    padding: 10px;
    line-height: 1.5em;
    text-indent: 1em;
    text-align: justify;
    margin-top: 10vh;
}

article#parallax1 {
    width: auto;
    min-height: 500px;
    max-height: 600px;



    background-image: url(../imagens/paisagem01.jpg);
    background-position: right bottom;
    background-size: cover;
    background-attachment: fixed;
}

div.externo {
    margin-top: 60vh;
    position: relative;
}

div.externo {

    height: fit-content;
}

div.externo > p {
    max-height: fit-content;
    width: 40vw;


    display: inline-block;

    line-height: 1.7em;
    text-align: justify;
    padding-left: 25px;
    padding-top: 50px;
}

article#parallax2 {
    display: inline-block;


    min-height: 500px;
    max-height: 250px;
    width: 42vw;


    background-image: url(../imagens/background2.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    position: absolute;
    left: 50vw;
    
}